body {
    min-width: 320px;
}

#form-container {
    max-width: 700px;
}

.question {
    text-align: center;
    margin: .5em auto
}

.btn-group {
    width: 80%;
    margin: 1em auto;
}

.btn-container {
    width: 250px;
}

.btn-container button {
    font-size: 1.25em;
    height: 2.5em;
    font-weight: bold;
    letter-spacing: .06em;
}

.sentiment {
    text-align: center;
    font-size: .9em;
    font-weight: bold;
    margin: 1em
}

#submit {
    width: 25%;
    margin: 0 auto;
}

.modal-body {
    text-align: center;
}



@media screen and (min-width: 576px) {
    .btn-container button {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 412px) {
    .sentiment {
        font-size: .75em;
        font-weight: 600;
        margin: .25em .5em;
    }

    .btn-group {
        width: 100%;
    }
    .heading {
        font-size: 1.45em;
    }
    .about {
        font-size: 1.25em;
    }

}
