.question {
    text-align: center;
    margin: .5em auto
}

.btn-group {
    width: 80%;
    margin: 1em auto 1em;
}

.btn-container {
    width: 35%;
}

.btn-container button {
    height: 4em;
    width: 100%;
    margin: 0 auto;
}

.sentiment {
    text-align: center;
    font-size: .9em;
    font-weight: bold;
    margin: 1em
}

#submit {
    width: 25%;
    margin: 0 auto;
}

.modal-body {
    text-align: center;
}
